{% extends "base.html" %}

{% block content %}
    <h1>Sobre Mí</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Información personal</h5>
            <p class="card-text">
                <b>Nombre:</b> {{ profile.name }}
                <br>
                <b>Correo electrónico:</b> {{ profile.email }}
                <br>
                <b>LinkedIn:</b> <a href="{{ profile.linkedin }}" target="_blank">{{ profile.linkedin }}</a>
                <br>
                <b>GitHub:</b> <a href="{{ profile.github }}" target="_blank">{{ profile.github }}</a>
            </p>
            {% if profile.image %}
                <img src="{{ profile.image.url }}" alt="{{ profile.name }}" class="img-fluid rounded-circle">
            {% endif %}
        </div>

        <h2>Experiencia Laboral</h2>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Posición</h5>
        <p class="card-text">{{ profile.position }}</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Biografía</h5>
        <p class="card-text">{{ profile.bio }}</p>
    </div>
</div>
    </div>
    
    <!-- El resto de tu contenido, como la experiencia laboral, educación, habilidades, etc. -->
{% endblock %}
