{% extends 'base.html' %}

{% block content %}
<form class="form-signin" method='post'>
    {% csrf_token %}
     <h1 class="h3 mb-3 font-weight-normal">CoderBlog</h1>
    <img alt="" class="mb-4" >
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p>{{ form.username.label_tag }}
        {{ form.username }}
    </p>
    <p>
        {{ form.password.label_tag }}
        {{ form.password }}
    </p>
    <div class="checkbox mb-3">
        {{ form.remember.label_tag }}
        {{ form.remember }}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2023</p>
</form>
{% endblock %}