{% extends 'base.html' %}

{% block content %}
<h2>Formulario de Registro de CoderBlog</h2>

<style>
    input[type="text"], input[type="password"], input[type="email"] {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .margen-inferior {
        text-align: left;
    }
</style>

<form method='POST' style="text-align: left; margin: 0 auto; width: 600px; ">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <div class="margen-inferior">
                <label for="id_username">Nombre de usuario:</label>
                {{ form.username }}
            </div>

            <div class="margen-inferior">
                <ul>
                    <li><small>Requerido. Máximo 150 caracteres. Solo letras, dígitos y @/./+/-/_.</small></li>
                </ul>
            </div>

            <div class="margen-inferior">
                <label for="id_email">Correo electrónico:</label>
                {{ form.email }}
            </div>

            <div class="margen-inferior">
                <label for="id_password1">Contraseña:</label>
                {{ form.password1 }}
                <ul>
                    <li><small>No debe ser demasiado similar a tu información personal.</small></li>
                    <li><small>Debe contener al menos 8 caracteres.</small></li>
                    <li><small>No debe ser una contraseña comúnmente utilizada.</small></li>
                    <li><small>No debe ser completamente numérica.</small></li>
                </ul>
            </div>

            <div class="margen-inferior">
                <label for="id_password2">Confirmar contraseña:</label>
                {{ form.password2 }}
            </div>

            <div class="margen-inferior">
                <ul>
                    <li>
                        <small>Ingresa la misma contraseña que ingresaste antes para verificar.</small>
                    </li>
                </ul>
            </div>

            <input class="btn btn-secondary" name="Submit" type="submit" value="Registrarse"/>

        </div>

    </div>

</form>
{% endblock %}