:root {
    --primary: #ff5722;
    --primary_dark: #e64a19;
    --accent: #ff5177;
}
/*:root {*/
/*    --primario: #1976D2; !*Azul índigo*!*/
/*    --secundario_fondo: #EEEEEE; !* Gris claro *!*/
/*    --secundario_interactivo:#03A9F4; !* Azul claro *!*/
/*    --accento: #FF5722;  !* naranja *!*/
/*}*/

.bg-header {
    background-color: var(--primary_dark);
}
body {
    background-color: var(--primary);
}
.card-color{
    background-color: var(--accent);
}