{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2>Mandar mensaje:</h2>
            <select class="selectpicker" data-live-search="true" data-size="5" id="userSelect">
                <option data-tokens="" value="">Selecciona un contacto</option>
                {% for user in all_users %}
                    <option data-tokens="{{ user.username }}" value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-8">
            <h2>Historial de mensajes</h2>
            {% for contacto, mensajes in messages_by_contact.items %}
                <div class="card mb-2">
                    <div class="card bg-light">
                        <h2>Conversación con {{ contacto.username }}</h2>
                        <!--            <ul>-->
                        {% for mensaje in mensajes %}
                            <!--                <li>-->
                            <div class="card m-2">
                                {% if mensaje.remitente == request.user.username %}
                                    <div class="card-body" style="text-align: right">
                                        <p>Remitente: {{ mensaje.remitente }} - Hora: {{ mensaje.hora }}</p>
                                        <p>Mensaje: {{ mensaje.texto }}</p>
                                    </div>
                                {% else %}
                                    <div class="card-body" style="text-align: left">
                                        <p>Remitente: {{ mensaje.remitente }} - Hora: {{ mensaje.hora }}</p>
                                        <p>Mensaje: {{ mensaje.texto }}</p>
                                    </div>
                                {% endif %}
                            </div>
                            <!--                </li>-->
                        {% endfor %}
                        <!--            </ul>-->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        document.getElementById('userSelect').addEventListener('change', function () {
            var selectedUserId = this.value;
            if (selectedUserId) {
                // Redirige a la página que muestra los chats de ese usuario (puedes personalizar la URL según tu estructura de rutas)
                window.location.href = '/messages/' + selectedUserId + '/';
            }
        });
    </script>
{% endblock %}
