{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <select id="userSelect">
            <option value="">Selecciona un usuario</option>
            {% for user in all_users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-8">
        <h2>Chats</h2>
        {% for contacto, mensajes in messages_by_contact.items %}
        <h2>Conversación con {{ contacto.username }}</h2>
        <ul>
            {% for mensaje in mensajes %}
            <li>
                <p>Remitente: {{ mensaje.remitente }}</p>
                <p>Hora: {{ mensaje.hora }}</p>
                <p>Mensaje: {{ mensaje.texto }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
<script>
    document.getElementById('userSelect').addEventListener('change', function () {
        var selectedUserId = this.value;
        if (selectedUserId) {
            // Redirige a la página que muestra los chats de ese usuario (puedes personalizar la URL según tu estructura de rutas)
            window.location.href = '/messages/' + selectedUserId + '/';
        }
    });
</script>
{% endblock %}
