{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2>Usuarios</h2>
            <select id="userSelect">
                <option value="">Selecciona un usuario</option>
                {% for user in all_users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-8">
            <h2>Chats</h2>
            <ul>
                {% for chat in user_chats %}
                    <li>
                        Chat entre {{ chat.usuario_1 }} y {{ chat.usuario_2 }}
                        <ul>
                            {% for message in messages %}
                                {% if message.chat == chat %}
                                    <li>{{ message.fecha_creacion|date:"F j, Y, g:i a" }} - {{ message.texto }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        document.getElementById('userSelect').addEventListener('change', function() {
            var selectedUserId = this.value;
            if (selectedUserId) {
                // Redirige a la página que muestra los chats de ese usuario (puedes personalizar la URL según tu estructura de rutas)
                window.location.href = '/messages/' + selectedUserId + '/';
            }
        });
    </script>
{% endblock %}
